<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">

    <div class="container-fluid p-0">
        <ul class="nav py-2" style="background-color: #E7D8C9;">
            <li class="nav-item">
                <a class="nav-link" style="color: #000000;" href="/"><h4>Inicio</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #000000;" href="/cargar-db"><h4>Cargar datos</h4></a>
            </li>
        </ul>
    </div>

    <div class="container-fluid flex-grow-1 d-flex align-items-center justify-content-center">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="text-center py-3" style="background-color: #E7D8C9; color: #000000;">
        <h4>Project done by Marco Chasco Barry</h4>
    </footer>
</body>

</html>
