<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column vh-100">

    <div class="container flex-grow-1">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/cargar-db">Cargar Base de Datos</a>
        </li>
      </ul>
    
      {% block content %}
      {% endblock %}
    </div>


    <footer class="bg-light text-center p-3 mt-5">
        <h4>Project done by Marco Chasco Barry</h4>
    </footer>
</body>
</html>
