<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">

    <div class="container-fluid p-0">
      <ul class="nav py-2 justify-content-center" style="background-color: #E7D8C9;">
          <li class="nav-item">
              <a class="nav-link" style="color: #000000;" href="/" onmouseover="this.style.color='#8B4513';" onmouseout="this.style.color='#000000';"><h4>Inicio</h4></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: #000000;" href="/cargar-db" onmouseover="this.style.color='#8B4513';" onmouseout="this.style.color='#000000';"><h4>Cargar datos</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #000000;" href="/listado-jornadas" onmouseover="this.style.color='#8B4513';" onmouseout="this.style.color='#000000';"><h4>Ver jornadas</h4></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: #000000;" href="/listado-equipos" onmouseover="this.style.color='#8B4513';" onmouseout="this.style.color='#000000';"><h4>Ver equipos</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #000000;" href="/listado-jugadores" onmouseover="this.style.color='#8B4513';" onmouseout="this.style.color='#000000';"><h4>Ver jugadores y filtrar</h4></a>
        </li>
      </ul>
    </div>  

    <div class="container-fluid flex-grow-1 d-flex align-items-center justify-content-center">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="text-center py-3" style="background-color: #E7D8C9; color: #000000;">
        <h4>Project done by Marchabar</h4>
    </footer>
</body>

</html>
