{% extends 'base.html' %}
{% load static %}

{% block title %}Cargar{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}
<h4 class="display-4 text-center">Se han cargado {{num_jornadas}} jornadas en la db</h4>
<h4 class="display-4 text-center">Se han cargado {{num_equipos}} equipos en la db</h4>
<h4 class="display-4 text-center">Se han cargado {{num_partidos}} partidos en la db</h4>
<h4 class="display-4 text-center">Se han cargado {{ num_jugadores_whoosh}} jugadores en whoosh</h4>
{% endblock %}

