{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmación{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column">
    <h4 class="text-center">Se cargará información sobre las jornadas, partidos, equipos y jugadores de la Primera División Española</h4>

    <div class="d-flex justify-content-center mt-5  ">
        <button type="button" class="btn" style="background-color: #E7D8C9; color: #000000;" onmouseover="this.style.backgroundColor='#8B4513'; this.style.color='#E7D8C9';" onmouseout="this.style.backgroundColor='#E7D8C9'; this.style.color='#000000';" data-bs-toggle="modal" data-bs-target="#confirmationModal">
            Cargar Base de Datos
        </button>
    </div>

    <form id="cargarForm" action="{% url 'cargar-db' %}" method="post">
        {% csrf_token %}
    </form>

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que quiere popular la base de datos y whoosh?. Este proceso llevará unos 2 minutos</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="startLoadingAndSubmit();">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only"></span>
    </div>
</div>

<script>
function startLoadingAndSubmit() {
    document.getElementById('loader').style.display = 'block';
    setTimeout(function() {
        document.getElementById('cargarForm').submit();
    }, 500);  // Delay form submission for 500ms
}
</script>
{% endblock %}