{% extends 'base.html' %}
{% block title %}Jugadores{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-6">
            <form method="get" action="{% url 'listado-jugadores' %}" class="navbar navbar-light" style="background-color: #ffffff;">
                <div class="container-fluid">
                    <div class="d-flex">
                        <div class="form-group me-2">
                            <input type="text" class="form-control" id="search" name="query" placeholder="Filtrar" value="{{ query }}">
                        </div>
                        <button type="submit" class="btn" style="background-color: #E7D8C9; color: #000000; text-decoration: none;" onmouseover="this.style.backgroundColor='#8B4513'; this.style.color='#E7D8C9';" onmouseout="this.style.backgroundColor='#E7D8C9'; this.style.color='#000000';">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    
        <div class="col-6">
            <form method="get" action="{% url 'listado-jugadores' %}" id="orderForm" class="d-flex justify-content-end align-items-center pt-1">
                <input type="hidden" name="query" value="{{ query }}">
                <label for="order" class="me-2">Ordenar por:</label>
                <select class="form-control" id="order" name="order" onchange="document.getElementById('orderForm').submit();" style="width: auto;">
                    <option value="nombre" {% if order == 'nombre' %}selected{% endif %}>Nombre</option>
                    <option value="edad" {% if order == 'edad' %}selected{% endif %}>Edad</option>
                    <option value="posicion" {% if order == 'posicion' %}selected{% endif %}>Posición</option>
                    <option value="nacionalidad_nombre" {% if order == 'nacionalidad_nombre' %}selected{% endif %}>País</option>
                    <option value="equipo" {% if order == 'equipo' %}selected{% endif %}>Equipo</option>
                </select>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
        {% for jugador in jugadores %}
        <div class="col mb-2 mt-2">
            <div class="card shadow-sm" style="width: 400px;"> 
                <div class="card-header">
                    <div class="row">
                        <div class="col text-left">
                            {{ jugador.posicion }}
                        </div>
                        <div class="col text-end">
                            {{ jugador.edad }} años
                        </div>
                    </div>
                </div>
                <img src="{{ jugador.foto }}" class="card-img-top mt-3" alt="{{ jugador.nombre }}" style="max-height: 100px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ jugador.nombre }}</h5>
                    <div class="card-text">
                        <p class="player-info">
                            {{ jugador.nacionalidad_nombre }}<br>
                            {{ jugador.equipo }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if jugadores|length == 0 %}
            <div class="col-12 mt-3">
                <h4>No players found.</h4>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
